<ngx-loading [show]="loading"></ngx-loading>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnCalendar" autocomplete="off" checked="">
    <label class="btn btn-outline-primary shadow-none" for="btnCalendar">Calendar</label>

    <input (change)="onSelectedViewCheck($event)" type="radio" class="btn-check" name="btnradio" id="btnTableView" autocomplete="off">
    <label class="btn btn-outline-primary shadow-none" for="btnTableView">Table View</label>
</div>
<ng-container *ngIf="isCalendarView">
    <div class="row" *ngIf="eventData">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-h-100">
                        <div class="card-body">
                            <div id="calendar"></div>
                            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!--end row-->
    
            <div style='clear:both'></div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="isTableView">
    <div class="mt-2">
        <div class="card table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th *ngFor="let col of tableColumn" scope="col">{{ col }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of paginatedTasksData; let i = index">
                        <td>{{ common.getComputedRowNumber(index, i) }}</td>
                        <td>{{ common.getDate(data.date) }}</td>
                        <td>{{ data.area }}</td>
                        <td>
                            {{common.getTaskPercentage(data.total_activity, data.checklist)}}%
                            <div class="progress animated-progress progress-sm">
                                <div class="progress-bar bg-{{common.getPercentageBadge(common.getTaskPercentage(data.total_activity, data.checklist))}}"
                                    role="progressbar"
                                    attr.style="width: {{common.getTaskPercentage(data.total_activity, data.checklist)}}%"
                                    [attr.aria-valuenow]="common.getTaskPercentage(data.total_activity, data.checklist)"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>
                            <button (click)="onIdentityTaskClick(data)" type="button"
                                class="btn btn-soft-primary btn-sm">Identity Task</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
    <div class="container mt-2">
        <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
                <a class="btn btn-primary page-link" (click)="goToPage(1)"><i class="bx bx-arrow-to-left"></i></a>
            </li>
            <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
                <a class="btn btn-primary page-link" (click)="goToPage(currentPage - 1)"><i
                        class="bx bx-left-arrow-alt"></i></a>
            </li>
            <li class="page-item" *ngFor="let page of activePages" [ngClass]="{ 'active': currentPage === page }">
                <a class="btn btn-primary page-link" (click)="goToPage(page)">{{ page }}</a>
            </li>
            <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
                <a class="btn btn-primary page-link" (click)="goToPage(currentPage + 1)"><i
                        class="bx bx-right-arrow-alt"></i></a>
            </li>
            <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
                <a class="btn btn-primary page-link" (click)="goToPage(totalPages)"><i class="bx bx-arrow-to-right"></i></a>
            </li>
        </ul>
    </div>
</ng-container>