<ngx-loading [show]="loading"></ngx-loading>
<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Scheduler" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row" *ngIf="eventData">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div id="calendar"></div>
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!--end row-->

        <div style='clear:both'></div>
    </div>
</div>

<ng-template #detailTask let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Detail Task</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>