<ngx-loading [show]="loading"></ngx-loading>
<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Scheduler" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<div class="auth-one-bg-position auth-one-bg" id="auth-particles">
    <div class="bg-overlay"></div>
</div>
<div class="row" *ngIf="eventData">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div id="calendar"></div>
                        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!--end row-->

        <div style='clear:both'></div>
    </div>
</div>

<ng-template #detailTask let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detail Task</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-2">
                    <div class="row g-3">
                        <div class="col-6">
                            <p class="text-muted mb-2 text-uppercase fw-semibold">Area</p>
                            <h5 class="fs-15 mb-0">{{ taskData.area }}</h5>
                        </div>
                        <!--end col-->
                        <div class="col-6">
                            <p class="text-muted mb-2 text-uppercase fw-semibold">Date</p>
                            <h5 class="fs-15 mb-0"><span id="invoice-date">{{ common.getLocaleDate(taskData.date)
                                    }}</span></h5>
                        </div>
                        <div class="col-6">
                            <p class="text-muted mb-2 text-uppercase fw-semibold">Task Created</p>
                            <h5 class="fs-15 mb-0">
                                <span id="invoice-date">{{ common.getLocaleDate(taskData.created_at)}}</span>
                                <small class="ms-1 text-muted" id="invoice-time">{{common.getTime(taskData.created_at) }}</small>
                            </h5>
                        </div>
                        <!--end col-->
                        <div class="col-6">
                            <p class="text-muted mb-2 text-uppercase fw-semibold">Progress</p>
                            <span id="payment-status"
                                class="badge badge-soft-{{ common.getPercentageBadge(common.getTaskPercentage(taskData.total_activity, taskData.checklist)) }} fs-11">
                                {{ common.getTaskPercentage(taskData.total_activity, taskData.checklist) }}%
                            </span>
                        </div>
                        <!--end col-->
                        <div class="col-6">
                            <p class="text-muted mb-2 text-uppercase fw-semibold">Total Activity</p>
                            <h5 class="fs-15 mb-0">{{ taskData.total_activity }}</h5>
                        </div>
                        <!--end col-->
                        <div class="col-6">
                            <p class="text-muted mb-2 text-uppercase fw-semibold">Activity Done</p>
                            <h5 class="fs-15 mb-0">{{ taskData.checklist }}</h5>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-body-->
            </div><!--end col-->
        </div>
    </div>
    <div class="modal-footer">
        <a type="button" class="btn btn-info" routerLink="/planner/tasks/detail/{{taskData.task_id}}">Detail</a>
        <button type="button" class="btn btn-danger" (click)="onDeleteTask(taskData.task_id)">Delete Task</button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
    </div>
</ng-template>