<ngx-loading [show]="isLoading"></ngx-loading>
<div *ngIf="userData.area_id !== -1 && todayActivity">
    <div class="row">
        <div class="col">
            <div class="card card-animate p-4 bg-primary">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <p class="text-uppercase fw-semibold text-white-50 mb-0">To-do</p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        <h4 class="text-white">You have {{ todayActivity.totalTask > 1 ? todayActivity.totalTask + " task with a total of " : "a total of " }}
                            <span><u><b>{{ todayActivity.unfinishedChecklist }}</b></u></span> 
                            task activities to complete today
                        </h4>
                        <a [routerLink]="['tasks']" [queryParams]="{tableView: true}" class="text-decoration-underline text-white-50">See details</a>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                            <i class="ri ri-todo-fill text-light"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="userData.area_id == -1">
    <div class="col">
        <div class="card p-3">
            <div class="d-flex justify-content-between">
                <div class="me-2">
                    <h4>Dashboard<span class="text-primary"></span></h4>
                </div>
                <div class="row row-cols-lg-auto g-1 align-items-center">
                        <div class="me-2">
                            <input class="form-control flatpickr-input" type="text" placeholder="{{ datePlaceholder }}" mwlFlatpickr (change)="onChangeDateRange($event)"
                                [altInput]="true" [convertModelValue]="true" mode="range">
                        </div>
                        <!-- <div class="me-2">
                            <select id="monthPicker" class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="month">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="me-2">
                            <input class="form-control form-control-sm" type="number" min="1900" max="3000" step="1" [(ngModel)]="year" />
                        </div>
                        <button type="button" (click)="onChangeDate()" class="btn btn-sm btn-success">Apply</button> -->
                </div>
            </div>
            
        </div>
    </div>
</div>
<ng-container *ngIf="taskAreaComparisonChart && taskActivityChart && findingUnfinishedActivity && taskAreaActivityChart && periodComparisonChart && userData">
    <div *ngIf="userData.area_id == -1" class="row">
        <!-- card -->
        <div class="{{ isSmallScreen ? 'col-6' : 'col-3' }}">
            <div class="card card-animate bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <p class="text-uppercase fw-semibold text-white-50 mb-0">Total Activity</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-white">
                                <span class="counter-value">{{totalActivity}}</span>
                            </h4>
                            <a [routerLink]="['tasks']" [queryParams]="{tableView: true}" class="text-decoration-underline text-white-50">See details</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                                <i class="ri ri-task-fill text-light"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div>
        <div class="{{ isSmallScreen ? 'col-6' : 'col-3' }}">
            <div class="card card-animate bg-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <p class="text-uppercase fw-semibold text-white-50 mb-0">Finished Activity</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-white">
                                <span class="counter-value">{{ totalActivity - findingUnfinishedActivity.total }}</span>
                            </h4>
                            <a [routerLink]="['tasks']" [queryParams]="{tableView: true}" class="text-decoration-underline text-white-50">See details</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                                <i class="ri ri-todo-fill text-light"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div>
        <div class="{{ isSmallScreen ? 'col-6' : 'col-3' }}">
            <div class="card card-animate bg-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <p class="text-uppercase fw-semibold text-white-50 mb-0">Unfinished Activity</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-white">
                                <span class="counter-value">{{ findingUnfinishedActivity.total }}</span>
                            </h4>
                            <a href="javascript:void(0);" (click)="scrollToElement(finding)" class="text-decoration-underline text-white-50">See details</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                                <i class="ri ri-todo-fill text-light"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div>
        <div class="{{ isSmallScreen ? 'col-6' : 'col-3' }}">
            <div class="card card-animate bg-danger">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <p class="text-uppercase fw-semibold text-white-50 mb-0">Total finding</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-white">
                                <span class="counter-value">{{findingNotOkActivity.total}}</span>
                            </h4>
                            <a href="javascript:void(0);" (click)="scrollToElement(finding)" class="text-decoration-underline text-white-50">See details</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                                <i class="ri ri-alert-fill text-light"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div>
        
    </div>
    <div *ngIf="userData.area_id == -1" class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Total Task List</h4>
                </div><!-- end card header -->
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col" *ngFor="let data of checklistCategoryData">
                            <div class="d-flex flex-column align-items-start">
                                <h5><span class="badge bg-{{ common.getCategoryBadge(data.category) }}">{{ data.category }}</span></h5>
                                <h4 class="ms-2">{{data.checklist}}</h4>
                            </div>
                        </div>
                    </div>
                    
                </div><!-- end card-body -->
            </div>
        </div>
        
    </div>
    <div *ngIf="userData.area_id == -1" class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-0">Total Achievements</h4>
                        <h4 class="card-title mb-0 text-primary"><b>{{ getTotalAchievements(totalActivity, findingUnfinishedActivity.total) }}</b>%</h4>
                    </div>
                </div><!-- end card header -->
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-6" *ngFor="let data of taskActivityChartData.rawData">
                            <div class="d-flex align-items-center pb-2 mb-2">
                                <div class="flex-grow-1">
                                    {{data.area}}
                                    <div class="progress animated-progress custom-progress progress-label">
                                        <div class="progress-bar bg-{{common.getPercentageBadge(common.getTaskPercentage(data.total_activity, data.checklist))}}" role="progressbar"
                                            attr.style="width: {{common.getTaskPercentage(data.total_activity, data.checklist)}}%"
                                            [attr.aria-valuenow]="common.getTaskPercentage(data.total_activity, data.checklist)"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <div class="label"><span [countUp]="common.getTaskPercentage(data.total_activity, data.checklist)" [duration]="1"></span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 ms-3">
                                    <div class="avatar-xs">
                                        <div class="avatar-title bg-light rounded-circle text-{{ common.getTaskPercentage(data.total_activity, data.checklist) == 100 ? 'warning' : 'muted' }} fs-16">
                                            <i class="ri ri-trophy-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div>
        </div>
    </div>
    <div *ngIf="userData.area_id == -1" class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Task Activity</h4>
                </div><!-- end card header -->
                <div class="card-body">
                    <apx-chart [series]="taskActivityChart.series" [chart]="taskActivityChart.chart"
                        [dataLabels]="taskActivityChart.dataLabels" [stroke]="taskActivityChart.stroke"
                        [colors]="taskActivityChart.colors" [title]="taskActivityChart.title"
                        [subtitle]="taskActivityChart.subtitle" [plotOptions]="taskActivityChart.plotOptions"
                        [yaxis]="taskActivityChart.yaxis" [xaxis]="taskActivityChart.xaxis"
                        [tooltip]="taskActivityChart.tooltip" dir="ltr"></apx-chart>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Activity by Period</h4>
                </div><!-- end card header -->
                <div class="card-body">
                    <apx-chart [series]="periodComparisonChart.series" [chart]="periodComparisonChart.chart"
                    [dataLabels]="periodComparisonChart.dataLabels" [plotOptions]="periodComparisonChart.plotOptions"
                    [xaxis]="periodComparisonChart.xaxis" [stroke]="periodComparisonChart.stroke"
                    [colors]="periodComparisonChart.colors" dir="ltr"></apx-chart>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card p-3">
                <div class="card-header">
                    <div *ngIf="userData.area_id != -1" class="d-flex justify-content-between">
                        <div class="me-2">
                            <h4>Dashboard: <span class="text-primary"> {{ areaTitle }}</span></h4>
                        </div>
                        <div class="row row-cols-lg-auto g-1 align-items-center">
                            <div class="me-2">
                                <input class="form-control flatpickr-input" type="text" placeholder="{{ datePlaceholder }}" mwlFlatpickr (change)="onChangeDateRange($event)"
                                    [altInput]="true" [convertModelValue]="true" mode="range">
                            </div>
                                <!-- <div class="me-2">
                                    <select id="monthPicker" class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="me-2">
                                    <input class="form-control form-control-sm" type="number" min="1900" max="3000" step="1" [(ngModel)]="year" />
                                </div>
                                <button type="button" (click)="onChangeDate()" class="btn btn-sm btn-success">Apply</button> -->
                        </div>
                    </div>
                    <div *ngIf="userData.area_id == -1" class="d-flex justify-content-between">
                        <h4 class="card-title">Area: <span class="text-info me-3">{{areaTitle}}</span></h4>
                        <div>
                            <button *ngFor="let data of taskActivityChartData.rawData" (click)="getTaskAreaActivityById(data.area, data.area_id)" class="btn btn-sm btn-soft-secondary mb-2 me-2">{{ data.area }}</button>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-soft-light">
                    <div class="row g-0 text-center shadow-sm p-1" style="border-radius: 4px;">
                        <div class="col-6 col-sm-3">
                            <div class="p-3">
                                <h5 class="mb-1 text-success"><span class="counter-value">{{areaAchievements}}</span>%</h5>
                                <p class="text-muted mb-0">Achievements</p>
                            </div>
                        </div><!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3">
                                <h5 class="mb-1"><span class="counter-value">{{areaTotalActivity}}</span></h5>
                                <p class="text-muted mb-0">Activity</p>
                            </div>
                        </div><!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3">
                                <h5 class="mb-1"><span class="counter-value">{{areaUnfinishedActivity}}</span></h5>
                                <p class="text-muted mb-0">Unfinished</p>
                            </div>
                        </div><!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3">
                                <h5 class="mb-1"><span class="counter-value text-danger">{{areaTotalFinding}}</span></h5>
                                <p class="text-muted mb-0">Finding</p>
                            </div>
                        </div><!--end col-->
                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Activity by Machine Area</h4>
                                </div><!-- end card header -->
                                <div class="card-header p-0 border-0 bg-soft-light">
                                    
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <apx-chart [series]="taskAreaComparisonChart.series" [chart]="taskAreaComparisonChart.chart"
                                        [dataLabels]="taskAreaComparisonChart.dataLabels" [plotOptions]="taskAreaComparisonChart.plotOptions"
                                        [xaxis]="taskAreaComparisonChart.xaxis" [stroke]="taskAreaComparisonChart.stroke"
                                        [colors]="taskAreaComparisonChart.colors" dir="ltr"></apx-chart>
                                </div><!-- end card-body -->
                            </div><!-- end card -->
                        </div>
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Task Area Activity</h4>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <apx-chart [series]="taskAreaActivityChart.series" [chart]="taskAreaActivityChart.chart"
                                        [dataLabels]="taskAreaActivityChart.dataLabels" [stroke]="taskAreaActivityChart.stroke"
                                        [colors]="taskAreaActivityChart.colors" [title]="taskAreaActivityChart.title"
                                        [subtitle]="taskAreaActivityChart.subtitle" [plotOptions]="taskAreaActivityChart.plotOptions"
                                        [yaxis]="taskAreaActivityChart.yaxis" [xaxis]="taskAreaActivityChart.xaxis"
                                        [tooltip]="taskAreaActivityChart.tooltip" dir="ltr"></apx-chart>
                                </div><!-- end card-body -->
                            </div><!-- end card -->
                        </div>
                        <ng-container *ngIf="userData.area_id != -1">
                            <div class="col-xl-6">
                                <ng-template [ngTemplateOutlet]="findingCard"></ng-template>
                            </div>
                            <div class="col-xl-6">
                                <ng-template [ngTemplateOutlet]="unfinishedCard"></ng-template>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" #finding>
        <ng-container *ngIf="userData.area_id == -1">
            <div class="col-xl-7">
                <div [ngTemplateOutlet]="findingCard"></div>
            </div>
            <div class="col-xl-5">
                <div [ngTemplateOutlet]="unfinishedCard"></div>
            </div>
        </ng-container>
    </div>
</ng-container>

<ng-template #findingCard>
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Recent Finding</h4>
        </div><!-- end card header -->

        <div class="card-body">
            <div class="table-responsive table-card" *ngIf="findingNotOkActivity.limitData.length > 0;else noFinding">
                <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th scope="col"*ngFor="let col of columnsFinding">{{col}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of findingNotOkActivity.limitData">
                            <td>
                                <h5 class="fs-14 my-1 fw-medium"><a
                                    class="text-reset">{{ data.activity }}</a></h5>
                                <span class="text-muted"><i>({{data.standard}})</i></span>
                            </td>
                            <td>{{ data.comment }}</td>
                            <td>
                                <div>
                                    <h6 class="my-1 fw-medium"><a class="text-reset">{{data.machine_area}}</a></h6>
                                    <span class="text-muted">{{data.area}}</span>
                                </div>
                            </td>
                            <td>{{ data.pic }}</td>
                            <td>
                                <div class="flex-shrink-0 me-2">
                                    <img src="{{imageUrl}}{{ data.picture ? data.picture : 'no-image-found.jpg' }}" alt="" class="p-2" width="70" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <div class="p-3">
                            <a *ngIf="userData.area_id == -1" routerLink="../planner/finding" class="text-muted text-decoration-underline">See more...</a>
                        </div>
                    </tfoot>
                </table>
            </div>
            <ng-template #noFinding>
                <div class="text-center mt-3">
                    <h4 class="card-title">No findings were found!</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="assets/images/no-finding.svg" alt="no-finding" height="300">
                </div>
            </ng-template>
        </div> <!-- .card-body-->
    </div> <!-- .card-->
</ng-template>
<ng-template #unfinishedCard>
    <div class="card">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Unfinished Activity</h4>
        </div><!-- end card header -->

        <div class="card-body">
            <div class="table-responsive table-card" *ngIf="findingUnfinishedActivity.limitData.length > 0;else noUnfinished">
                <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th scope="col"*ngFor="let col of columnsUnfinished">{{col}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of findingUnfinishedActivity.limitData">
                            <td>
                                <span class="badge bg-{{ common.getCategoryBadge(data.category) }}">{{ data.category }}</span>
                            </td>
                            <td>{{ data.activity }}</td>
                            <td>
                                <div>
                                    <h6 class="my-1 fw-medium"><a class="text-reset">{{data.machine_area}}</a></h6>
                                    <span class="text-muted">{{data.area}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="p-3">
                    <a routerLink="./tasks" class="text-muted text-decoration-underline">See more...</a>
                </div>
            </div>
            <ng-template #noUnfinished>
                <div class="text-center mt-3">
                    <h4 class="card-title">All activities are done!</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="assets/images/no-undone.svg" alt="no-finding" height="300">
                </div>
            </ng-template>
        </div> <!-- .card-body-->
    </div> <!-- .card-->
</ng-template>