<ngx-loading [show]="isLoading"></ngx-loading>
<app-breadcrumbs title="Finding" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="auth-one-bg-position auth-one-bg" id="auth-particles">
    <div class="bg-overlay"></div>
</div>
<ng-container *ngIf="findings.length > 0;else noFindings">
    <div class="card" *ngFor="let item of findings">
        <div class="card-header bg-light">
            <h4 class="mb-0">Area: <span class="text-danger">{{ item.area }}</span></h4>
        </div>
        <div class="card-body bg-light">
            <div class="card" *ngFor="let data of item.detail">
                <div class="card-header bg-soft-light">
                    <h4 class="card-title mb-0">{{ data.machine_area }}</h4>
                    <!-- <div class="d-flex justify-content-between">
                      <div class="search-box d-inline-block">
                        <input type="text" class="form-control form-control-sm search" placeholder="Search" [(ngModel)]="searchKeyword"
                          (input)="applyFilter()">
                        <i class="ri-search-line search-icon"></i>
                      </div>
                    </div>   -->
                </div>
                <div class="card-body">
                    <div class="live-preview">
                        <ngb-accordion #acc="ngbAccordion" [closeOthers]="false">
                            <ngb-panel id="finding-{{ finding.activity_id}}" *ngFor="let finding of data.finding">
                                <ng-template ngbPanelTitle class="accordion-header border-0 bg-transparent">
                                    <i class="text-danger ri ri-alert-fill me-2"></i> {{ finding.activity }} <span class="text-muted ms-1">({{ finding.standard }})</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ngx-simplebar class="p-3" style="max-height: 365px;">
                                        <div class="acitivity-timeline acitivity-main">
                                            <div class="acitivity-item{{ common.isFirstOrLastIndex(data.finding, finding) ? ' ' : ' py-3'}} d-flex" *ngFor="let detail of finding.detail">
                                                <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                                    <div class="avatar-title bg-soft-danger text-danger rounded-circle">
                                                        <i class="ri-calendar-event-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1">{{ common.getLocaleDate(detail.date) }}</h6>
                                                    <p class="text-danger mb-1">{{ detail.comment ? '"' + detail.comment + '"' : '-' }}</p>
                                                    <div *ngIf="detail.picture" class="d-inline-flex gap-2 border border-dashed p-2 mb-2 w-25">
                                                        <a (click)="previewImage(detail.task_activity_id)" href="javascript:void(0)" class="bg-light rounded p-1">
                                                            <img src="{{ imageUrl }}{{ detail.picture }}" alt=""
                                                                class="img-fluid d-block"/>
                                                        </a>
                                                    </div>
                                                    <p class="text-muted mb-3"><small>PIC: <span class="text-dark">{{ detail.pic ? detail.pic : '-' }}</span></small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" (click)="onFindingStatusChanged(finding.detail)">Resolve</button>
                                    </ngx-simplebar>
                                    
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
                <!-- <div class="card-footer p-0">
                </div> -->
            </div> 
        </div>
    </div>
</ng-container>
<ng-template #noFindings>
    <div class="card">
        <div class="text-center mt-3">
            <h4 class="card-title">No findings were found!</h4>
        </div>
        <div class="d-flex justify-content-center">
            <img src="assets/images/no-finding.svg" alt="no-finding" height="300">
        </div>
    </div>
</ng-template>