<ngx-loading [show]="loading"></ngx-loading>
<app-breadcrumbs title="Create Task: {{ common.getLocaleDate(dateSelected) }}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="auth-one-bg-position auth-one-bg" id="auth-particles">
    <div class="bg-overlay"></div>
</div>
<div class="card">
    <ng-container *ngIf="!isAreaSelected">
        <div class="card-header">
            <h4 class="card-title">Select Area</h4>
        </div>
        <div class="card-body" *ngIf="areaData">
            <div class="row wrapper">
                <div class="col p-3 d-flex justify-content-center" *ngFor="let area of areaData">
                    <a href="javascript:void(0);" (click)="onAreaClick(area.area_id)">
                        <div class="app-card">
                            <img src="{{area.image ? imageUrl + area.image : 'assets/images/default-area.JPG'}}" />
                            <div class="overlay"></div>
                            <h4 class="area-title">{{area.name}}</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isAreaSelected">
        <div class="card-header border-0">
            <div class="d-flex align-items-center">
                <button (click)="backToArea()" type="button" class="shadow-none btn btn-soft-primary me-2"><i
                        class="ri-arrow-left-line"></i></button>
                <div class="mb-0 flex-grow-1">
                    <h4 class="mb-0">Area: <span class="text-primary">{{ activeArea.area }}</span></h4>
                    <span class="fs-7 text-muted">{{ common.getLocaleDate(dateSelected) }}</span>
                </div>
                <div class="flex-shrink-0 ms-2">
                    <div class="form-check form-switch form-switch-md mb-2" dir="ltr">
                        <input type="checkbox" class="form-check-input" id="picSwitch" (change)="onThreeDaysSet($event)">
                        <label class="form-check-label" for="picSwitch">Set 3 days</label>
                    </div>
                    <button (click)="onCreateTask(activeArea.area_id)" class="btn {{isSmallScreen ? 'btn-sm' : ''}} btn-success add-btn me-1" [disabled]="loading"><i
                            class="ri-add-line align-bottom me-1"></i> Create Task</button>
                </div>
            </div>
        </div>
        <div class="card-body border border-dashed border-end-0 border-start-0">
            <div class="row g-3">
                <!--end col-->
                <div class="col-xxl-5 col-sm-6">
                    <label>Search</label>
                    <div class="search-box">
                        <input type="text" name="searchTerm" class="form-control" [(ngModel)]="searchKeyword"
                            placeholder="Search for activity or something...">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>

                <div class="col-xxl-3 col-sm-6">
                    <div class="input-light">
                        <label for="sortBy">Sort by:</label>
                        <select (change)="onSortClick($event)" class="form-select" id="sortBy">
                            <option class="text-muted" selected>Default</option>
                            <option *ngFor="let item of sortData">{{ item }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-xxl-4 col-sm-12">
                    <div class="d-flex flex-column align-items-{{ isSmallScreen ? 'center' : 'start' }} me-2">
                        <label>Auto select by: </label>
                        <!-- Radio Buttons -->
                        <div class="btn-group{{ isSmallScreen ? '-vertical' : ''}}" role="group" aria-label="Button group with nested dropdown">
                            <button id="btnRecommended" (click)="onAutoSelectClick($event)" type="button" class="btn btn-{{isRecommendedSelected ? 'primary' : 'soft-primary'}}">Recommended</button>
                            <!-- <div class="btn-group" role="group" ngbDropdown>
                                <button id="btnGroupDrop1" type="button"
                                    class="btn btn-{{isPeriodSelected ? 'primary' : 'soft-primary'}} dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                                    aria-expanded="false" ngbDropdownToggle>
                                    Period <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" ngbDropdownMenu>
                                    <li *ngFor="let period of periodData"><a id="btnPeriod" (click)="onAutoSelectClick($event, period)" class="dropdown-item" href="javascript:void(0);">{{ period }}</a></li>
                                </ul>
                            </div> -->
                            <div class="btn-group" ngbDropdown>
                                <button id="btnPeriod" type="button" class="btn btn-{{ isPeriodSelected ? 'primary' : 'soft-primary' }} dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                    Period
                                </button>
                                <div class="dropdown-menu dropdown-menu-md p-4" ngbDropdownMenu>
                                    <form>
                                        <div class="form-check custom-checkbox mb-2" *ngFor="let data of periodData">
                                            <input [checked]="data.checked" (change)="onAutoSelectClick($event, data)" type="checkbox" class="form-check-input" id="checkPeriod-{{ data.period }}">
                                            <label class="form-check-label" for="rememberdropdownCheck">{{ data.period }}</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="btn-group" role="group" ngbDropdown>
                                <button id="btnGroupDrop2" type="button"
                                    class="btn btn-{{isCategorySelected ? 'primary' : 'soft-primary'}} dropdown-toggle arrow-none" data-bs-toggle="dropdown"
                                    aria-expanded="false" ngbDropdownToggle>
                                    Category <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2" ngbDropdownMenu>
                                    <li *ngFor="let category of categoryData"><a id="btnCategory" (click)="onAutoSelectClick($event, category)" class="dropdown-item" href="javascript:void(0);">{{ category }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--end col-->
            </div>
            <!--end row-->

        </div>
        <div class="card-body" *ngIf="activityData">
            <div class="table-responsive">
                <table class="table align-middle mb-0 table-striped table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">
                                <div class="form-check">
                                    <form>
                                        <input (change)="onChecklistAll($event)" class="form-check-input"
                                            name="selectedActivity" type="checkbox" value="0" id="selectedActivity">
                                        <label class="form-check-label" for="selectedActivity"></label>
                                    </form>
                                </div>
                            </th>
                            <th scope="col" *ngFor="let col of columnData">{{ col }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of filteredData(); let i = index">
                            <th scope="row">
                                <div class="form-check">
                                    <form>
                                        <input [(ngModel)]="data.is_selected" (change)="onActivityCheck($event)"
                                            class="form-check-input" name="selectedActivity{{data.activity_id}}"
                                            type="checkbox" [value]="data.activity_id"
                                            id="selectedActivity{{data.activity_id}}">
                                        <label class="form-check-label"
                                            for="selectedActivity{{data.activity_id}}"></label>
                                    </form>
                                </div>
                            </th>
                            <td>{{ i + 1 }}</td>
                            <td>
                                <h5 class="fs-6">
                                    <a class="text-reset">{{ data.activity }}</a>
                                </h5>
                                <span class="fs-7 text-muted">({{ data.standard }})</span>
                            </td>
                            <td>
                                <span class="badge bg-{{common.getCategoryBadge(data.category)}}">
                                    {{ data.category }}
                                </span>
                            </td>
                            <td>{{ data.periode }}</td>
                            <td>{{ data.machine_area }}</td>
                            <td>
                                <h5 class="fs-6">
                                    <a class="text-reset">{{ data.last_updated ? common.getLocaleDate(data.last_updated) : '' }}</a>
                                </h5>
                                <span>{{ data.last_updated ? '' : '-' }}</span>
                                <a *ngIf="data.last_updated" class="text-muted"><i>({{ data.last_updated | dateAgo: dateSelected }})</i></a>
                            </td>
                            <td *ngIf="isRecommended(common.getDayCount(data.last_updated, dateSelected), common.getPeriodDayCount(data.periode));else notRecommended"
                                class="text-success"><i class="ri-checkbox-circle-line fs-17 align-middle"></i>
                            </td>
                            <ng-template #notRecommended>
                                <td class="text-danger"><i class="ri-close-circle-line fs-17 align-middle"></i></td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
                <div class="p-3 d-flex justify-content-center">
                    <button (click)="onCreateTask(activeArea.area_id)" class="btn btn-success add-btn me-1" [disabled]="loading"><i
                            class="ri-add-line align-bottom me-1"></i> Create Task</button>
                </div>
                <!-- end table -->
            </div>
        </div><!-- end card-body -->
    </ng-container>
</div><!-- end card -->