<div class="mt-2">
    <div *ngIf="isSuccess" class="alert alert-success" role="alert">
        <strong> {{ successMessage }} </strong>
    </div>
    <h2 class="text-primary">Data Machine Area</h2>
    <div class="d-flex">
        <button routerLink="./add" class="btn btn-primary mb-2 me-1"><i class="ri ri-menu-add-line"></i></button>
        <input type="text" class="form-control mb-2" placeholder="Search" [(ngModel)]="searchKeyword"
            (input)="applyFilter()">
    </div>

    <div class="card table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let col of tableColumn" scope="col">{{ col }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of paginatedMachineAreaData; let i = index">
                    <td>{{ getComputedRowNumber(i) }}</td>
                    <td>{{ data.machine_area }}</td>
                    <td class="text-muted">{{ data.area }}</td>
                    <td>
                        <div class="hstack gap-3 flex-wrap">
                            <a class="link-success fs-15"><i class="ri-edit-2-line"></i></a>
                            <a class="link-danger fs-15"><i class="ri-delete-bin-line"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="container mt-2">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
            <a class="btn btn-primary page-link" (click)="goToPage(1)"><i class="bx bx-arrow-to-left"></i></a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
            <a class="btn btn-primary page-link" (click)="goToPage(currentPage - 1)"><i
                    class="bx bx-left-arrow-alt"></i></a>
        </li>
        <li class="page-item" *ngFor="let page of activePages" [ngClass]="{ 'active': currentPage === page }">
            <a class="btn btn-primary page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
            <a class="btn btn-primary page-link" (click)="goToPage(currentPage + 1)"><i
                    class="bx bx-right-arrow-alt"></i></a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
            <a class="btn btn-primary page-link" (click)="goToPage(totalPages)"><i class="bx bx-arrow-to-right"></i></a>
        </li>
    </ul>
</div>